[submodule "Core-Erlang-Formalization"]
	path = Core-Erlang-Formalization
	url = git@github.com:harp-project/Core-Erlang-Formalization.git
[submodule "erlang-semantics"]
	path = erlang-semantics
	url = https://github.com/harp-project/erlang-semantics.git
[submodule "erllvm-bench"]
	path = erllvm-bench
	url = https://github.com/cstavr/erllvm-bench.git
